[submodule "schematic/platform/zakhar_kicadlib"]
	path = schematic/platform/zakhar_kicadlib
	url = git@github.com:an-dr/zakhar_kicadlib.git
[submodule "software/Libraries/log.cx"]
	path = software/Libraries/log.cx
	url = git@github.com:an-dr/log.cx.git
[submodule "software/Libraries/SharedVirtualRegisters"]
	path = software/Libraries/SharedVirtualRegisters
	url = git@github.com:an-dr/SharedVirtualRegisters.git
